In [1]:
import pandas as pd

In [4]:
col = ['user', 'item', 'rating', 'timestamp']
df = pd.read_csv("ml-100k/u.data", sep='\t', names=col)
df.head()

   user  item  rating  timestamp
0   196   242       3  881250949
1   186   302       3  891717742
2    22   377       1  878887116
3   244    51       2  880606923
4   166   346       1  886397596